html, body { background-color:#f0f0ee; color:#222; }

/* Make the page full bleed */
#doc3 { margin:0; }

/* Header */
#hd { padding:1.2em 1.5em 0 1.5em; background-color:#7a1818; }
h1 { font-size:230%; color:#fff; }
#user-nav {margin:0; float:right; color:#fff; }
#user-nav li {display: inline; padding: 0; margin: 0; }
#user-nav li a {color:#fff; font-weight:600;}

#navigation { margin-top:1.5em; height:1%; }
#navigation li { float:left; display:inline; margin-left: 2px; margin-right: 2px; }
#navigation li a { display:block; color:#fff; text-decoration:none; }
#navigation li a:hover { text-decoration:underline; }


#primary-navigation li a { font-size:106%; padding:0.4em 1em; background-color:#262626;}
#primary-navigation li.active a { background-color:#f0f0ee; color:#000; }

.comment { margin-left: 50px; }


/* Body */
#bd { padding:1.5em; text-align:justify;}
h2 { font-size:153.9%; margin-bottom:0.5em; }
h3 { font-size:153.9%; margin-bottom:0.5em; }

/* Basic block */
.block { margin-bottom:1.5em; padding-left: 0.7em; padding-right: 0.7em; }
.block .hd { background-color:#7a1818; padding:0.7em 1em; color:#fff; border-bottom:10px solid #262626; }
.block .hd h2, .block .hd h3 { font-size:100%; margin-bottom:0; }
.block .bd { padding:1em; background-color:#fff; }
.block .bd h2 { color:#7a1818; }
.block .bd h3 { color:#7a1818; }

/*Search block*/
.block-search { margin-bottom:1.5em; padding-left: 0.7em; padding-right: 0.7em; }
.block-search .hd { background-color:#7a1818; padding:0.7em 1em; color:#fff; border-bottom:10px solid #262626; }
.block-search .hd h2, .block .hd h3 { font-size:100%; margin-bottom:0; }
.block-search .bd { padding:1em; }
.block-search .bd h2 { color:#7a1818; }
.block-search .bd h3 { color:#7a1818; }

#related-search {margin:0; float:left; margin-bottom:1em; }
#related-search li {display:inline;}
#related-search li a { font-weight:600; color:#0854C7;}
.block .hed { color: #333; padding-left:0.5em; padding-bottom:0.5em; padding-top:0.3em;}
.block .hed h5 { font-size:120%; color: #FFFFFF; font-weight:700;}

#padding {padding:20px;}

/* Extend block with tabs */
.tabs .hd { padding:0; }
.tabs .hd ul { height:1%; }
.tabs .hd ul li { float:left; }
.tabs .hd ul li a { display:block; color:#fff; text-decoration:none; padding:0.5em 1em; }
.tabs .hd ul li a:hover { background-color:#470E0E; }
.tabs .hd ul li.active a { background-color:#262626 !important; color:#fff; text-decoration:none; } /* important! fixes IE cascade issue */
.tabs .hd h2, .tabs .hd h3 { position:absolute; margin-left:-5000px; } /* Hidden SEO Header if needed */

/* Extend tab block with spaced tabs */
.spaces .hd { background-color:transparent; }
.spaces .hd ul li { background-color:#7a1818; margin-right:0.1em; }

/* Extend block and header to have rounded corners */
.rounded .hd,
.rounded .hd ul li,
.rounded .hd ul li a,
.rounded #navigation,
.rounded #navigation ul li,
.rounded #navigation ul li a {
    -moz-border-radius-topright:7px;
    -moz-border-radius-topleft:7px;
    -webkit-border-top-right-radius:7px;
    -webkit-border-top-left-radius:7px;
}

/* Style the horizontal rules inside .block */
.block hr { background-color:#f0f0ee; color:#f0f0ee; height:1px; border:0; }

/* Tables */
table { width:100%; margin-bottom:2em; }
table td { padding:0.5em; }
table thead { background-color:#262626; color:#fff; font-weight:bold; }
table thead a { text-decoration:none; color:#fff; }
table thead a:hover { text-decoration:underline; }
table tbody a { text-decoration:underline; }

/* Pager control*/
ul.pager { text-align:right; }
ul.pager li { display:inline; }
ul.pager li a { padding:0.1em 0.3em; margin-right:0.3em; border:1px solid #000; text-decoration:none; color:#000; }
ul.pager li.active a, ul.pager li a:hover { background-color:#000; color:#fff; }

/* Forms */
form label { font-weight:bold; }
form label span { font-weight:normal; color:#f00; font-size:85%; }
form span.info { font-style:italic; color:#aaa; font-size:85%; }
form .text { display:block; width:99%; border:1px solid #aaa; padding:0.3em; }
form .search {display:block; width:100%; border:2px solid #aaa;}
.block .column { width:48%; }
.block .left { float:left; }
.block .right { float:right; }

/* Messages */
.alert { padding:0.5em; text-align:center; }
.error { border:2px solid #fbb; background-color:#fdd; }
.warning { border:2px solid #fffaaa; background-color:#ffc; }
.notice { border:2px solid #1fdf00; background-color:#bbffb6; }

/* Lists */
ol.list, ul.list, dl.list { margin-left:2em; margin-bottom:1em; }
ol.list li { list-style:decimal outside; }
ul.list li { list-style:disc outside; }
dl.list dd { margin-left:1em; }

ul.biglist { margin-bottom:1em; }
ul.biglist li { margin-top:-1px; border:1px solid #f0f0ee; border-width:1px 0 1px 0; }
ul.biglist li a { display:block; padding:0.5em 0; text-decoration:none; color:#000; }
ul.biglist li a:hover { text-decoration:underline; }




/* Footer */
#ft { text-align:center;  padding:0.5em 1em;  }
/*contains the logo and the copyright right justified*/
.pseudo-footer {float:right; padding:0.5em 1em; color:#262626;}
.footer-navigation {float:left; margin-top:1em;}
.footer-navigation li {display: inline; }
.footer-navigation li a { font-weight:600; }

/* Generics */
p { margin-bottom:1em; }
a { color:#7a1818; }
strong { font-weight:bold; }
em { font-style:italic; }
abbr, acronym { border-bottom:1px dotted #000; cursor:help; }

.table-font {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:110%;}
.big { font-size:140%; font-family:"Garamond Premr Pro", Arial, sans-serif; font-style:italic; color:#333333;}
.small { font-size:85%; }
.gray { color:#999; }
.highlight { background-color:#ffffcc; }
.clear { clear:both; }
.text-left { text-align:left; }
.text-right { text-align:right; }
.text-center { text-align:center; }
