{% extends "main.html" %}

{% block body %}

<h1>Confirm deletion of item "{{item}}"</h1>
<h2>This will delete all it's comments.<br>The action is permanent and can't be undone.</h2>
<form method="post" action="{% url scratchpad-item-delete item.id %}">
<input type="button" name="cancel" value="Cancel" onclick="document.location.href='{% url scratchpad-scratchpad_view item.scratchpad.id %}'";>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" name="del" value="Delete">
</form>


{% endblock %}